.home-page {}	

.home-page .text-box {
	padding: 20px;
}

.home-page .text-box .message-box {
	background-color: white;
	font-weight: 200;
	text-align: center;
	font-size: 18px;
}

.home-page .preview-section {
	padding: 20px;
	font-size: 32px;
}