@font-face {
	font-family: piratized;
	src: url('/fonts/Treamd.ttf?inline=1');
}

@font-face {
	font-family: shippy;
	src: url('/fonts/ArmadaPirata.ttf?inline=1');
}

.symbol {
	font-family: shippy;
}

.pirate {
	font-family: piratized;
}

.logo {
	font-size: 120px;
	background-color: white;
	width: 160px;
	height: 160px;
	border-radius: 100px;
	margin: 0 auto;
	text-align: center;
	margin-top: 20px;
}